
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/backend/ebs/nbproject/private/
/backend/ebs/ebs-war/nbproject/private/
/backend/ebs/ebs-ejb/nbproject/private/
/backend/ebs/build/
/backend/ebs/dist/
/backend/ebs/ebs-war/build/
/backend/ebs/ebs-war/dist/
/backend/ebs/ebs-ejb/build/
/backend/ebs/ebs-ejb/dist/
