.landing {
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 14, 14);
    margin-top: 25px;
    
  }
  
  .landing__navWraper {
    position: fixed;
    margin-top: 5px;
  
  }
  
  .landing__timeline {
    /* Layout */
   margin-right: 30px;
    margin-left: 240px;
    margin-top: 100px;
    justify-content: flex-start;
  
  
    /* Dimensions */
    width: 100%;
    max-width: 600px;
    margin-left: 250px;
    height: auto;
    min-height: 100vh;
    padding: 2rem 2rem;
  
    /* Background and Borders */
    background-color: #fdf6f4;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-top: 0.5rem solid #f06038;
   
  
    /* 3D Effect */
    transform-style: preserve-3d;
    transform: perspective(1000px) ;
  
  }
